.advantage {
  line-height: 21px;
}

.advantage__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 191px;

  &--city {
    padding-top: 43px;
    padding-bottom: 43px;
  }

  &--bridge {
    padding-top: 43px;
    padding-bottom: 43px;
  }
}

.advantage__title {
  margin: 0;
  font-size: 18px;
  line-height: @base-lineheight;
}

.advantage__number {
  margin: 0;
}

.advantage__description {
  margin: 0;
}

.advantage--lead {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  color: @color-white;
  background-color: @color-blue;
}

.advantage--secondary {
  display: flex;
  flex-direction: column;
  min-height: 168px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(214,214,214);
  font-weight: 400;
  color: @color-dark-gray;

  &:nth-child(3) {
    border-bottom: none;
  }

  .advantage__title {
    color: @color-main;
  }
}

@media (min-width: @tablet-width) {
  .advantage--lead {
    flex-direction: row;
  }

  .advantage__content {
    width: 256px;
    min-height: 256px;
    padding: 46px;

    &--bridge {
      order: 1;
    }
  }

  .advantage--secondary {
    margin: 0;
    padding: 54px 35px;
    width: 256px;
    min-height: 256px;
    border-bottom: none;

    &:nth-child(2) {
      padding: 54px 52px;
    }

    &:nth-child(3) {
      padding: 54px 46px;
      .advantage__title {
        padding: 0 25px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .advantage__content {
    width: 400px;
    padding: 58px 50px;

    &--bridge {
      .advantage__description {
        padding: 0 20px;
      }
    }
  }

  .advantage__title {
    padding: 0 70px;
  }

  .advantage--secondary {
    width: 400px;

    .advantage__title {
      padding: 0 90px;
    }

    &:nth-child(2) {
      padding: 54px 48px;
    }

    &:nth-child(3) {
      .advantage__title {
        padding: 0 90px;
      }
    }
  }
}
