.features__title {
  font-size: 18px;
}

.features__description {
  line-height: 21px;
  font-weight: 400;
  color: @color-dark-gray;
}

.features__list {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .features__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
