.main-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-content__header {
  position: relative;
  min-height: 267px;
  padding-top: 43px;
  padding-bottom: 29px;
  box-sizing: border-box;

  &::before {
    content: url("../img/bg-intro-triangle-mobile.svg");
    position: absolute;
    top: -26px;
    left: 0;
    width: 100%;
  }

  &::after {
    content: url("../img/bg-triangle.svg");
    background-color: @color-blue;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.main-content__heading {
  margin: 0;
  margin-bottom: 38px;
}

.main-content__intro {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .main-content__header {
    min-height: 206px;
    padding-top: 50px;
    padding-bottom: 55px;
    padding-right: 110px;
    padding-left: 110px;

    &::before {
      content: url("../img/bg-intro-triangle-tablet.svg");
      top: -57px;
    }

    &::after {
      content: "";
    }
  }
}

@media (min-width: @desktop-width) {
  .main-content__header {
    padding-right: 310px;
    padding-left: 310px;

    &::before {
      content: url("../img/bg-intro-triangle-desktop.svg");
    }
  }
}
