.page-footer__tag {
  font-size: 21px;
}

.copyright__text {
  font-weight: 400;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__list {
  display: flex;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    width: 648px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 960px;
  }
}
