.preview {
  min-height: 389px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: @color-blue;
  background-repeat: no-repeat;
  background-position: bottom;
}

.preview__image-slogan {
  margin: 90px 20px;
}

.preview__image-text {
  margin: 52px 47px;
}

@media (min-width: @tablet-width) {
  .preview {
    min-height: 518px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .preview__image-slogan {
    width: 460px;
    height: 350px;
    margin: 77px 155px;
  }

  .preview__image-text {
    width: 458px;
    height: 78px;
    margin: 95px 153px;
  }
}

@media (min-width: @desktop-width) {
  .preview {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .preview__image-slogan {
    margin: 78px 370px;
  }

  .preview__image-text {
    width: 461px;
    height: 80px;
    margin: 101px 369px;
  }
}
