.searching {
  padding-bottom: 49px;
}

.searching__heading {
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 20px;
  font-size: 21px;
  text-align: center;
}

.searching__intro {
  margin: 0;
  padding-bottom: 35px;
  line-height: 24px;
}

.searching__link {
  margin: auto;
  width: 280px;
  height: 58px;
  font-size: 21px;
}

@media (min-width: @tablet-width) {
  .searching {
    padding-right: 154px;
    padding-left: 154px;
    padding-bottom: 60px;
  }

  .searching__heading {
    padding-top: 52px;
    padding-bottom: 30px;
    font-size: 30px;
  }

  .searching__intro {
    padding-bottom: 42px;
  }

  .searching__link {
    width: 458px;
  }
}

@media (min-width: @desktop-width) {
  .searching {
    padding-right: 371px;
    padding-left: 371px;
    padding-bottom: 65px;
  }

  .searching__intro {
    padding-bottom: 52px;
  }
}
