.searching {
  padding-bottom: 49px;
}

.searching__heading {
  margin: 0;
  padding: 30px 0;
}

.searching__intro {
  margin: 0;
  padding-bottom: 40px;
}

.searching__link {
  margin: auto;
  width: 280px;
  height: 58px;
  font-size: 21px;
}

@media (min-width: @tablet-width) {
  .searching {
    padding-right: 154px;
    padding-left: 154px;
  }

  .searching__link {
    width: 458px;
  }
}

@media (min-width: @desktop-width) {
  .searching {
    padding-right: 371px;
    padding-left: 371px;
  }
}
