.write-comment {
  margin: 0;
  padding: 0;
  border: none;
}

.write-comment__heading {
  padding-top: 21px;
  padding-bottom: 21px;
}

.write-comment__textarea {
  margin-bottom: 51px;
  padding: 21px;
  width: 279px;
  height: 160px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: @base-lineheight;
  font-weight: @base-fontweight;
  text-transform: none;
  background-color: #f2f2f2;
  border: none;
}
